NEXT_PUBLIC_API_URL=https://api.encuestas.plazadedatos.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=617282847971-2kt8l6roqivui6t5u28kbc8qebucn3vb.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=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
