# CONFIGURACIÓN DEL FRONTEND
# Copiar este archivo como .env.local y actualizar los valores

# URL del Backend API
NEXT_PUBLIC_API_URL=https://api.encuestas.plazadedatos.com/

# Google OAuth Client ID
GOOGLE_CLIENT_ID=617282847971-2kt8l6roqivui6t5u28kbc8qebucn3vb.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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 